.photos-page {
    background: radial-gradient(circle, rgba(90,139,183,1) 0%, rgb(80, 57, 117) 100%);
    display: grid;
    height: 100vh;
    overflow-x: hidden;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
    "navbar"
    "main"
    ;
    .grid-item {
        object-fit: cover;
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    main {
        grid-area: main;
    }
    .masonry {
        margin-left: 7vw;
    }
}

@media screen and (min-width: $tablet) {
    .photos-page {
        .masonry {
            margin-left: 8vw;
        }
        .grid-item {
            width: 40vw;
        }
    }
}

@media screen and (min-width: $desktop) {
    .photos-page {
        .masonry {
            margin-left: 30px;
        }
        .grid-item {
            width: 450px;
        }
    }

}
