.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.m-6 {
  margin: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-6 {
  margin-right: 6rem;
}

.p-6 {
  padding: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pr-6 {
  padding-right: 6rem;
}

.rocket-ship {
  width: 105%;
  height: 100%;
  max-width: 500px;
  position: relative;
  left: -5rem;
  top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .rocket-ship {
    width: 70%;
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .rocket-ship {
    left: 15rem;
    top: -5rem;
    max-width: 750px;
  }
}

#Ship {
  -webkit-animation: vibrate 0.25s linear infinite both;
  animation: vibrate 0.25s linear infinite both;
}

#FarLeftFlame, #FarRightFlame {
  -webkit-animation: pulsate-up 2s ease-in-out infinite both;
  animation: pulsate-up 2s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#LeftFlame, #RightFlame {
  -webkit-animation: pulsate-down .15s ease-in-out infinite both;
  animation: pulsate-down .15s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star1 {
  -webkit-animation: ping 4s linear infinite both;
  animation: ping 4s linear infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star2 {
  -webkit-animation: ping 0.8s ease-in-out infinite both;
  animation: ping 0.8s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star3 {
  -webkit-animation: ping 1s ease-in-out infinite both;
  animation: ping 1s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star4 {
  -webkit-animation: ping 2s ease-in-out infinite both;
  animation: ping 2s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star5 {
  -webkit-animation: ping 3s ease-in-out infinite both;
  animation: ping 3s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star6 {
  -webkit-animation: ping 4s ease-in-out infinite both;
  animation: ping 4s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star7 {
  -webkit-animation: ping 3.4s ease-in-out infinite both;
  animation: ping 3.4s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star8 {
  -webkit-animation: pin 2.6s ease-in-out infinite both;
  animation: pin 2.6s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star9 {
  -webkit-animation: ping 2.6s ease-in-out infinite both;
  animation: ping 2.6s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star10 {
  -webkit-animation: ping 3.4s ease-in-out infinite both;
  animation: ping 3.4s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

#Star11 {
  -webkit-animation: ping 4s ease-in-out infinite both;
  animation: ping 4s ease-in-out infinite both;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  20% {
    -webkit-transform: translate(-1.5px, 1.5px);
    transform: translate(-1.5px, 1.5px);
  }
  10% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  40% {
    -webkit-transform: translate(-1.5px, -1.5px);
    transform: translate(-1.5px, -1.5px);
  }
  10% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  60% {
    -webkit-transform: translate(1.5px, 1.5px);
    transform: translate(1.5px, 1.5px);
  }
  10% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  80% {
    -webkit-transform: translate(1.5px, -1.5px);
    transform: translate(1.5px, -1.5px);
  }
  10% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  20% {
    -webkit-transform: translate(-1.5px, 1.5px);
    transform: translate(-1.5px, 1.5px);
  }
  10% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  40% {
    -webkit-transform: translate(-1.5px, -1.5px);
    transform: translate(-1.5px, -1.5px);
  }
  10% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  60% {
    -webkit-transform: translate(1.5px, 1.5px);
    transform: translate(1.5px, 1.5px);
  }
  10% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  80% {
    -webkit-transform: translate(1.5px, -1.5px);
    transform: translate(1.5px, -1.5px);
  }
  10% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes pulsate-up {
  0% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
  10% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  20% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  30% {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }
  80% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  90% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
}

@keyframes pulsate-up {
  0% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
  10% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  20% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  30% {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  70% {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }
  80% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  90% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
}

@-webkit-keyframes pulsate-down {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: .1;
  }
  10% {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    opacity: .5;
  }
  25% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: .8;
  }
  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .9;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .9;
  }
  75% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: .8;
  }
  90% {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: .1;
  }
}

@keyframes pulsate-down {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: .1;
  }
  10% {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    opacity: .5;
  }
  25% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: .8;
  }
  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .9;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: .9;
  }
  75% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: .8;
  }
  90% {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: .1;
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 3;
  }
  80% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes ping {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 3;
  }
  80% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

.btn-primary {
  border-style: none;
  background: #40BAD5;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 146.51px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #120136;
}

.btn-primary:hover {
  font-size: 21px;
  border-color: #165766;
  border-style: groove;
  background: #299fb9;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #010004;
}

.btn-secondary {
  border-style: none;
  background: #FCBF07;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 146.51px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #120136;
}

.btn-secondary:hover {
  font-size: 21px;
  border-color: #694f01;
  border-style: groove;
  background: #d8a303;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #010004;
}

@media screen and (min-width: 768px) {
  .btn-primary {
    width: 25vw;
    height: 6vh;
    font-size: 1.7rem;
  }
  .btn-primary:hover {
    font-size: 1.65rem;
  }
  .btn-secondary {
    width: 25vw;
    height: 6vh;
    font-size: 1.7rem;
  }
  .btn-secondary:hover {
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 1440px) {
  .btn-primary {
    margin-top: 2rem;
    width: 14rem;
  }
  .btn-secondary {
    margin-top: 2rem;
    width: 14rem;
  }
}

nav {
  width: 100%;
  z-index: 99;
}

nav .nav-links {
  opacity: 0;
  position: absolute;
}

.navbar {
  background-color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 2rem;
}

.logo-text {
  text-decoration: none;
  color: #120136;
  font-weight: 600;
}

.moon-menu {
  padding-right: 2rem;
  cursor: pointer;
}

.navbar-active {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.5rem 3.5rem 3.5rem;
      grid-template-rows: 3.5rem 3.5rem 3.5rem;
  text-align: center;
  width: 100%;
  height: 15rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 4.3rem;
  z-index: 3;
  background-color: #fff;
  border-radius: 12px;
  -webkit-animation: hamburger 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: hamburger 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.navbar-active li {
  list-style: none;
}

.navbar-active li a {
  text-decoration: none;
  color: #120136;
}

@-webkit-keyframes hamburger {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes hamburger {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "logo nav-div";
  }
  .moon-menu {
    display: none;
  }
  .logo {
    display: static;
    grid-area: "logo";
  }
  .logo-text {
    color: #fff;
  }
  .nav-div {
    grid-area: "nav-div";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: desktop-nav 0s ease both !important;
    animation: desktop-nav 0s ease both !important;
  }
  .nav-links li {
    list-style: none;
    padding: 0 2vw;
    -webkit-box-align: bottom;
        -ms-flex-align: bottom;
            align-items: bottom;
  }
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: lighter;
  }
}

@-webkit-keyframes desktop-nav {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes desktop-nav {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1440px) {
  nav {
    -ms-grid-columns: auto 40%;
        grid-template-columns: auto 40%;
  }
  .nav-div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-links li {
    padding: 0 3vw;
  }
  .logo {
    margin-left: 3rem;
  }
}

.audio-page {
  background: radial-gradient(circle, #5a8bb7 0%, #503975 100%);
  display: -ms-grid;
  display: grid;
  height: 100vh;
  overflow-x: hidden;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
      grid-template-areas: "navbar" "main";
}

.audio-page main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 0 auto 0;
      grid-template-areas: "l-gutter content r-gutter";
}

.audio-page .content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
}

.l-gutter {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l-gutter;
}

.r-gutter {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: r-gutter;
}

.heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.heading h3 {
  font-weight: lighter;
}

.audio-card {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.search {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .audio-page main {
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
  }
  .search {
    width: 300px;
  }
}

.photos-page {
  background: radial-gradient(circle, #5a8bb7 0%, #503975 100%);
  display: -ms-grid;
  display: grid;
  height: 100vh;
  overflow-x: hidden;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
      grid-template-areas: "navbar" "main";
}

.photos-page .grid-item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.photos-page main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.photos-page .masonry {
  margin-left: 7vw;
}

@media screen and (min-width: 768px) {
  .photos-page .masonry {
    margin-left: 8vw;
  }
  .photos-page .grid-item {
    width: 40vw;
  }
}

@media screen and (min-width: 1440px) {
  .photos-page .masonry {
    margin-left: 30px;
  }
  .photos-page .grid-item {
    width: 450px;
  }
}

.mars-page {
  background: radial-gradient(circle, #fccc63 0%, #f55f44 100%);
  display: -ms-grid;
  display: grid;
  height: 100vh;
  overflow-x: hidden;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
      grid-template-areas: "navbar" "main";
}

.mars-page .grid-item {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.mars-page main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.mars-page .masonry {
  margin-left: 7vw;
}

@media screen and (min-width: 768px) {
  .mars-page .masonry {
    margin-left: 8vw;
  }
  .mars-page .grid-item {
    width: 40vw;
  }
}

@media screen and (min-width: 1440px) {
  .mars-page .masonry {
    margin-left: 30px;
  }
  .mars-page .grid-item {
    width: 450px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.landing-page {
  background: radial-gradient(circle, #5a8bb7 0%, #503975 100%);
  display: -ms-grid;
  display: grid;
  height: 100vh;
  overflow-x: hidden;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
      grid-template-areas: "navbar" "main";
}

.landing-page-content {
  text-align: center;
}

.landing-page-content h2 {
  font-size: 1.3rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.landing-page main h1 {
  color: #fff;
  font-size: 2.1rem;
  text-align: right;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.landing-page main p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: right;
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .landing-page-header {
    padding: 5.5rem 10% .5rem 0;
  }
  .landing-page-content {
    padding-top: 4rem;
  }
  .landing-page-content h2 {
    font-size: 1.7rem;
  }
  .landing-page main h1 {
    font-size: 3rem;
  }
  .landing-page main p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1440px) {
  .landing-page-header {
    padding: 4rem 22% .5rem 0;
  }
  .landing-page-content {
    position: absolute;
    left: 63.7rem;
    bottom: 9rem;
  }
  .landing-page-content h2 {
    font-size: 2rem;
  }
  .landing-page main h1 {
    font-size: 4.5rem;
  }
  .landing-page main p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */